langchain
langchain-community
langchain-core
langchain_huggingface
huggingface_hub
sentence-transformers
faiss-cpu
markdown2
rank_bm25

# PDF & Markdown handling
PyMuPDF           # To read PDFs
python-docx       # To parse .docx policy files
markdown          # For Markdown conversion
weasyprint        # To generate PDFs from Markdown
fpdf
# Streamlit frontend
streamlit

# Utilities
python-dotenv         # For .env loading
tqdm                  # For progress bars if needed
pandas                # For CSV-based incident data
scikit-learn          # For any ML logic (if future upgrade)

# Web dependencies (for Streamlit + PDF gen)
cairosvg          # For PDF rendering
lxml              # Required by weasyprint
html5lib          # HTML parsing for PDFs
